body,
html {
    font-family: sans-serif;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: inherit;
    overflow: hidden;
    background-color: #a4a4a4;
}

h1,
p {
    font-family: sans-serif;
    text-align: center;
}

fieldset {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-width: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-radius: 1em;
    text-align: center;
}

input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    width: 50%;
    box-shadow: 0px 2px 1px grey;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#button {
    display: inline-block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    position: relative;
    border: none;
    box-shadow: 0px 2px 2px grey;
    left: 0;
}

#chromeOnly {
    color: #e04343;
}

#micDiv {
    width: 100%;
    text-align: center;
}

i {
    font-size: 30px;
    color: #303030;
    padding: 8px 14px;
}

div {
    height: 50px;
    overflow: auto;
    bottom: 0px;
    right: 0;
    left: 0;
}

ul {
    margin: 0;
}

input[type='text'] {
    padding: 8px 14px;
}
