#data-return {
  height: 60%;
  padding-left: 20%;
  padding-top: 8px;
  padding-right: 20%;
  overflow-y: auto;
  border: 1px;
}

#chatbot {
  width: auto;
  border-radius: 10px;
  background-color: #d7ffd1;
  margin: 3px;
  padding: 12px;
  height: auto;
  box-shadow: 10px 5px 5px grey;
}

#chatbot-err {
  width: ;
  border-radius: 10px;
  background-color: #ffa5aa;
  margin: 3px;
  padding: 12px;
  text-align: center;
  height: auto;
  color: red;
  box-shadow: 10px 5px 5px grey;
}

#user {
  width: auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin: 3px;
  padding: 12px;
  height: auto;
  color: black;
  box-shadow: 10px 5px 5px grey;
  text-align: right;
}
